@model GameNight2.Models.NightsFilterModel

<form asp-controller="Night" asp-action="FilterNights" method="post">
	<div class="form-group">
		<label asp-for="Name">Titel:</label>
		<input class="form-control" asp-for="Name" type="search" placeholder="Search..." />
	</div>
	<div class="form-group row mt-1">
			<div class="col-6 pe-1">
				<button class="btn btn-primary w-100">Apply</button>
			</div>
			<div class="col-6 ps-1">
				<button class="btn btn-outline-secondary w-100" asp-controller="Night" asp-action="Nights">Reset</button>
			</div>
	</div>
</form>